<template>
    <div class="container-fluid">
        <h1>Films</h1>
        <div class="row">
            <div class="card col-sm-4" style="width: 18rem;" v-for="film in films">
                <img class="card-img-top" src="" alt="Card image cap" :src="base_url+'/'+film.photo">
                <div class="card-body">
                    <h5 class="card-title">{{ film.name }}</h5>
                    <p class="card-text">{{film.desc}}</p>
                    <p class="card-text">Rating: {{film.rating}}</p>
                    <p class="card-text">Ticket: ${{film.ticket_price}}</p>
                    <p class="card-text">Country: {{film.country}}</p>
                    <p class="card-text">Release Date: {{film.release_date}}</p>
                    <p class="card-text">Genres: <span v-for="genre in film.genres">{{genre.title}} </span></p>
                    <router-link class="btn btn-primary" :to="{name: 'detail-page', params:{'id': film.id} }">
                        View Details
                    </router-link>
                </div>
            </div>
        </div>
    </div>

</template>

<script>

    export default {
        name: 'Dashboard',
        data: () => {
            return {
                base_url
            }
        },
        components: {
        },
        methods: {
        },
        computed: {
            films() {
                return this.$store.getters.getFilms
            }
        },
        mounted() {
            this.$store.dispatch('fetchFilms')
        }
    }
</script>
