<template>
    <div class="container-fluid">
        <h1>Film Detail</h1>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" alt="Card image cap" :src="base_url+'/'+film.photo">
            <div class="card-body">
                <h5 class="card-title">{{ film.name }}</h5>
                <p class="card-text">{{film.desc}}</p>
                <p class="card-text">Rating: {{film.rating}}</p>
                <p class="card-text">{{film.ticket_price}}</p>
                <p class="card-text">{{film.country}}</p>
                <p class="card-text">Release Date: {{film.release_date}}</p>
                <p class="card-text">Genres: <span v-for="genre in film.genres">{{genre.title}} </span></p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <p class="text-danger text-right" v-if="validation.hasError('form.comment')">{{ validation.firstError('form.comment') }}</p>
                    <label for="comment_box">Comments:</label>
                    <textarea id="comment_box" class="form-control" cols="40" rows="3" v-model="form.comment"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" @click="addComment()" v-if="isLoggedIn">Post Comment</button>
                    <router-link class="btn btn-primary" :to="{name: 'login'}" v-else>
                        Login to Post Comment
                    </router-link>
                </div>
                <div class="form-group" v-if="film.comments.length > 0">
                    <p v-for="comment in film.comments">{{comment.comment}}</p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import SimpleVueValidator from 'simple-vue-validator'
import Vue from "vue";

const Validator = SimpleVueValidator.Validator;

export default {
    name: "DetailPage",
    data: () => {
        return {
            base_url,
            isLoggedIn: false,
            form: {
                film_id: '',
                comment: ''
            }
        }
    },
    validators: {
        'form.comment': function (value) {
            return Validator.value(value).required();
        },
    },
    computed: {
        film() {
            return this.$store.getters.getFilm
        }
    },
    mounted() {
        this.$store.dispatch('fetchFilm', this.$route.params.id);
        let token = Vue.$cookies.get('lv_token')
        if( token !== null ) {
            this.isLoggedIn = true
        }
    },
    methods: {
        addComment() {
            const self = this;
            self.form.film_id = this.$route.params.id;
            self.$validate().then(function (success) {
                if (success) {
                    self.$store.dispatch('storeComments', self.form)
                }
            })
        }
    }
}
</script>

<style scoped>

</style>
