<template>
    <div class="main_container_back">

        <div class="main_container">
            <div class="combined_credential_container">
                <div class="title_container">
                    <div class="container-fluid">
                        <h3 class="black">WELCOME</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="combined_credential_form">

            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div id="error" class="col-12" style="display: none">
                        <div class="alert alert-danger alert-dismissible fade show w-100"></div>
                    </div>
                    <div id="info" class="col - 12" style="display: none">
                        <div class="alert alert-success alert-dismissible fade show w-100">

                        </div>
                    </div>
                </div>

                <div class="d-flex flex_direction main">
                    <auth-login></auth-login>
                    <auth-register></auth-register>
                </div>
            </div>

        </div>
    </div>

</template>



<script>
    import {mapActions} from 'vuex'
    import Register from "./Register";
    import Login from "./Login";

    export default {
    name: 'index',

    components: {
        'auth-register': Register,
        'auth-login': Login
    },
    methods: {
        ...mapActions({
            logout: 'AuthLogin/logout'
        })
    }
}
</script>
