<template>
    <div class="signin_box">
        <div class="inner">
            <div class="box_1">
                <div style="flex: 1">
                    <div class="d-flex align-items-center justify-content-center">
                        <img :src="'/images/login.png'" alt="">
                        <h3 class="mb-0">LOGIN</h3>
                    </div>
                    <p class="mb-0 mt-2">use your ID and Password to access private area</p>
                </div>
            </div>
            <div class="box_2">
                <form method="POST" action="#" @submit="login_attempt">

                    <p v-if="getSuccess !== null" class="text-success text-center mb-3">{{ getSuccess }}</p>

                    <div class="form-group row">
                        <div class="col-md-12">
                            <input placeholder="Email" id="email" type="email" class="input_container form-control" :class="{ 'is-invalid': getError !== null }" v-model="email" name="email" required autocomplete="email">

                            <span v-if="getError !== null" class="invalid-feedback d-block" role="alert">
                                    <strong>{{ getError }}</strong>
                            </span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-12">
                            <input placeholder="Password" id="password" type="password" class="input_container form-control" v-model="password" name="password" required autocomplete="current-password">
                        </div>
                    </div>

                    <div class="form-group row mb-0">
                        <div class="ml-auto mr-auto">
                            <button type="submit" class="btn btn-primary" :disabled="isFormSubmit">
                                {{ isFormSubmit ? 'Loading...' : 'Login' }}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'

    const moduleName = "AuthLogin/";
    export default {
        name: "Login",
        computed: {
            ...mapGetters({
                isFormSubmit: moduleName + 'isFormSubmit',
                getError: moduleName + 'getError',
                getSuccess: moduleName + 'getSuccess'
            })
        },
        data: () => ({
            email: '',
            password: '',
            remember: false
        }),
        methods: {
            async login_attempt(e) {
                e.preventDefault();
                if (this.isFormSubmit) return alert("Request is already in progress...");

                await this.$store.dispatch(moduleName + 'loginUser', {
                    email: this.email,
                    password: this.password,
                    remember: this.remember
                });

                if( this.$store.state.AuthLogin.is_login ) {
                    await this.$router.push({name: 'dashboard'})
                }
            }
        }
    }
</script>

<style scoped>

</style>
