<template>
    <div class="register_box">
        <div class="inner">
            <div class="box_1">
                <div style="flex: 1">
                    <div class="d-flex align-items-center justify-content-center">
                        <img :src="'/images/register.png'">
                        <h3 class="mb-0">SIGN UP</h3>
                    </div>
                    <p class="mb-0 mt-2">
                        Not a member yet. Create a new account
                    </p>
                </div>
            </div>
            <div class="box_2">
                <form @submit.prevent="submitForm()">
                    <p v-if="error !== null" class="text-danger text-center mb-3">{{ error }}</p>
                    <p v-if="success !== null" class="text-success text-center mb-3">{{ success }}</p>
                    <div class="form-group">
                        <input v-model="form.name" class="input_container form-control" type="text" placeholder="Enter Your Profile Name">
                        <p class="text-danger text-right" v-if="validation.hasError('form.name')">{{ validation.firstError('form.name') }}</p>
                    </div>
                    <div class="form-group">
                        <input v-model="form.email" class="input_container form-control" type="text" placeholder="Enter Your Email">
                        <p class="text-danger text-right" v-if="validation.hasError('form.email') || emailError">{{ validation.firstError('form.email') }}{{ emailError }}</p>
                    </div>
                    <div class="form-group">
                        <input v-model="form.password" class="input_container form-control" type="password" placeholder="Enter your Password">
                        <p class="text-danger text-right" v-if="validation.hasError('form.password')">{{ validation.firstError('form.password') }}</p>
                    </div>
                    <div class="form-group">
                        <input v-model="confirm_password" class="input_container form-control" type="password" placeholder="Confirm Password">
                        <p class="text-danger text-right" v-if="validation.hasError('confirm_password')">{{ validation.firstError('confirm_password') }}</p>
                    </div>
                    <div class="form-group mb-0 d-flex align-items-center flex_direction">
                        <button type="submit" class="btn btn-primary" :disabled="loading">{{ loading ? 'Loading...' : 'SIGN UP' }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
import {mapGetters} from 'vuex'
import SimpleVueValidator from 'simple-vue-validator'

const Validator = SimpleVueValidator.Validator;

export default {
    name: "Register",
    data: () => {
        return {
            submitted: false,
            loading: false,
            role: null,
            confirm_password: "",
            emailError: null,
            error: null,
            success: null,
            form: {
                name: "",
                email: "",
                password: ""
            }
        }
    },
    mounted() {
    },
    computed: {
        ...mapGetters({
            category: 'AuthLogin/getUserRoles'
        }),
        roleId() {
            if (this.role) {
                return this.role.value
            }
            return null
        }
    },
    validators: {
        'form.name': function (value) {
            return Validator.value(value).required().minLength(3);
        },
        'form.email': function (value) {
            return Validator.value(value).required().email();
        },
        'form.password': function (value) {
            return Validator.value(value).required().minLength(6);
        },
        'confirm_password, form.password': function (conf_pass, pass) {
            if (this.submitted || this.validation.isTouched('confirm_password')) {
                return Validator.value(conf_pass).required().match(pass);
            }
        }
    },
    methods: {
        submitForm() {
            const self = this;
            self.submitted = true;
            self.emailError = null;
            self.error = null;
            self.success = null;

            self.$validate().then(function (success) {
                    console.log(success)
                    if (success) {
                        self.loading = true;
                        self.form.role = self.roleId
                        axios.post(api_url + '/auth/register', self.form).then(resp => {
                            if (resp.data.bool) {
                                self.success = "Your registration is completed successfully!";
                                self.$store.commit('AuthLogin/setUToken', resp.data.access_token)
                                self.$router.push({name: 'dashboard'})
                            } else {
                                if (resp.data.hasOwnProperty('message') && resp.data.message.hasOwnProperty('email')) {
                                    self.emailError = resp.data.message.email[0]
                                } else {
                                    self.error = resp.data.message;
                                }
                            }
                        }).finally(() => {
                            self.loading = false;
                        })
                    }
                });
        }
    }
}
</script>
