.dashboardBanner {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

a {
    text-decoration: none !important;
}

.dashboardTable * {
    color: #333;
}

.bgWhite {
    background: #fff;
}

.dashboardMenu ul {
    margin: 0px !important;
}

.dashboardMenu ul li a {
    transition: .3s all;
    padding: 0px 15px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333;
    border-bottom: 3px solid transparent;
    background: #FFF;
}

.dashboardMenu ul li a.active {
    border-bottom: 3px solid #348efe;
}

.dashboardMenu ul li a img {
    margin-right: 10px;
}

.dashboardMenu ul li a.bgYellow, .bgYellow {
    background: #ebaa34;
}

.dashboardMenu ul li a.bgGrey, .bgGrey {
    background: #e8ebef;
}

.projectDetail ul {
    margin: 0px !important;
}

.projectDetail ul li a {
    transition: .3s all;
    padding: 0px 15px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    border-bottom: 3px solid transparent;
    background: #FFF;
}

.projectDetail ul li a.active {
    border-bottom: 3px solid #348efe;
}

.projectDetail ul li a img {
    margin-right: 10px;
}

.projectDetail ul li a.bgYellow, .bgYellow {
    background: #ebaa34;
}

.projectDetail ul li a.bgGrey, .bgGrey {
    background: #e8ebef;
}

.acnav__label h2 {
    display: flex;
    align-items: center;
}

.acnav__label h2 img {
    margin-right: 10px;
}
/*
table .btn, table label {
    padding: 2px 16px;
    font-weight: 600;
    font-size: 12px;
    width: 98px;
    text-align: center;
} */

.card.card-body {
    border: none;
}

.softYellow {
    background: #f4ebce !important;
    color: #333 !important;
}

.softPink {
    background: #f4ddde !important;
    color: #333 !important;
}

.softGreen {
    background: #cef4d6 !important;
    color: #333 !important;
}

.softBlue {
    background: #d9edf8 !important;
    color: #333 !important;
}

.footer_section .container-fluid {
    padding-right: 0px;
    padding-left: 8%;
}

.blueTextUnderlined {
    color: #348efe;
    text-decoration: underline !important;
}

button.blueTextUnderlined {
    color: #348efe;
    background: transparent;
    border: none !important;
    outline: none !important;
    text-decoration: underline !important;
    padding: 0px;
}

.dashboardTable input[type=checkbox] {
    width: 25px;
    height: 20px;
}

.dashboardTable thead th {
    font-size: 12px;
    color: #aeaeae !important;
}

.dashboardTable thead th i {
    font-size: 10px;
    color: #aeaeae !important;
}

.tableScroll {
    overflow-x: auto;
}

.dashboardSelect {
    font-size: 12px !important;
    color: #333;
}

.dashboardFilters .select-styled {
    padding: 0px 8px;
    font-size: 12px;
    color: #333;
    background: #e6e7ec;
    height: 35px;
    line-height: 15px;
    display: flex;
    align-items: center;
}

.dashboardFilters {
    padding: 0px 10px;
    margin-bottom: 25px;
}

.pageFilter {
    display: flex;
}

.select .select-styled:after {
    top: 12px !important;
}

.dashboardFilters .select {
    padding: 0px;
}

.pageFilter .select {
    width: 70px;
}

.pageFilter span {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.linksFilledRow {
    font-size: 11px !important;
    color: #a5a5a5;
    border: 1px solid #a5a5a5;
    position: relative;
    padding: 5px;
    border-radius: 10px;
    margin: 10px 0px;
}

.customSearch {
    padding: 0px 8px !important;
    font-size: 12px;
    color: #333;
    background: #fff !important;
    height: 35px;
    line-height: 15px;
    border-radius: 0px;
}

.searchFieldContainer {
    display: flex;
    /* align-items: center; */
}

.searchFieldContainer input {
    background: #f8f9fa !important;
    margin-bottom: 0px !important;
}

.searchFieldContainer .fa-search {
    position: absolute;
    right: 15px;
    top: 20px;
    transform: translateY(-50%);
}

tr.bordered {
    border-bottom: 1px solid #e3e7ec;
}

.btn.softGreen.MAC {
    width: 140px;
    background: #76b51b !important;
    color: #fff !important;
}

.btn.softPink.hide {
    background: #e52f48 !important;
    color: #fff !important;
}

.dashboardMenu ul.mainMenu li:hover > a {
    background: #e8ebef;
}

.dashboardMenu ul.mainMenu li:hover > a.bgYellow {
    background: #ebaa34;
}

.dashboardMenu ul.mainMenu li .dropdown-menu a:hover {
    background: #348efe;
    color: #fff;
}
/*
.dashboardMenu .dropdown-menu {
    width: 100%;
} */

.dashboardMenu .dropdown-menu {
    padding: 0px;
}

.dashboardMenu .dropdown-menu a {
    height: 35px !important;
}

.date {
    color: #999 !important;
}

.dateInDetails {
    position: absolute;
    right: 20px;
    background: #ffffff;
    color: #999 !important;
    padding: 6px;
    border: 2px solid #ebaa34;
}

.dashboardTable td {
    position: relative;
}

.dashboardTable td input[type="checkbox"] {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.dashboardTable .bordered {
    height: 35px;
}

.collapseOnClick.is-open i:before {
    transform: rotate(177deg);
}

.paginationRow img {
    padding: 0px 10px;
    width: 35px;
}

.paginationRow .pages li {
    background: #c1c2d4;
    margin: 0px 2px;
    height: 30px;
    width: 30px;
    justify-content: center;
    border-radius: 100%;
    display: flex;
    align-items: center;
}

.paginationRow .pages li.active {
    background: black;
}

.paginationRow .pages li a {
    color: #fff;
    font-size: 12px;
    padding: 10px;
}

.paginationRow .pages ul {
    display: inline-flex;
}

.profile.dropdown .dropdown-menu a span, .profile.dropdown .dropdown-menu a svg, .profile.dropdown .dropdown-menu a i {
    width: 26px !important;
    text-align: center;
}

.profile.dropdown .dropdown-menu a span.text-warning {
    display: table;
}

.profile.dropdown .dropdown-menu a {
    text-align: left !important;
    justify-content: start;
}

.profile.dropdown .dropdown-menu a:hover {
    background: #e8ebef !important;
    color: #333 !important;
}

div.select .select-styled {
    display: none;
}

.select-wrapper input.select-dropdown {
    position: relative;
    cursor: pointer;
    /*background-color: transparent;*/
    border: none;
    border-bottom: 1px solid #9e9e9e;
    outline: none;
    height: 3rem;
    line-height: 3rem;
    width: 100%;
    font-size: 16px;
    margin: 0 0;
    /*padding: 0;*/
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1;
}

.dropdown-content {
    background-color: #fff;
    margin: 0;
    display: none;
    min-width: 100px;
    overflow-y: auto;
    opacity: 0;
    position: absolute;
    left: 0;
    width: 100% !important;
    top: 35px !important;
    z-index: 9999;
    box-shadow: -3px 11px 20px 0px #00000024;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.pageFilter .btn {
    padding: 0.175rem .75rem;
}

.select-dropdown li.disabled, .select-dropdown li.disabled > span, .select-dropdown li.optgroup {
    color: rgba(0, 0, 0, 0.3);
    background-color: transparent;
}

.select-dropdown.dropdown-content li.selected {
    /* background-color: rgba(0,0,0,0.03); */
}

[type="checkbox"]:checked:disabled + span:before {
    border-right: 2px solid rgba(0, 0, 0, 0.42);
    border-bottom: 2px solid rgba(0, 0, 0, 0.42);
}

.dropdown-content li > a, .dropdown-content li > span {
    font-size: 12px;
    color: #348efe;
    display: block;
    line-height: 22px;
    padding: 8px 6px;
}

.dropdown-content li#sm_select_all2:first-child > span, .dropdown-content li#sm_select_all:first-child > span {
    font-size: 14px;
    font-weight: 900;
    padding: 16px 8px 10px;
}

ul:not(.browser-default) > li {
    list-style-type: none;
}

.dropdown-content li {
    clear: both;
    color: rgba(0, 0, 0, 0.87);
    cursor: pointer;
    /* min-height: 50px;
    line-height: 1.5rem; */
    width: 100%;
    text-align: left;
}

/* .dashboardFilters [type="checkbox"]:not(:checked), .dashboardFilters [type="checkbox"]:checked {
    position: absolute;
    opacity: 0;
    pointer-events: none;
} */

.dashboardFilters [type="checkbox"], [type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

button, input, optgroup, select, textarea {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

.dashboardFilters [type="checkbox"]:checked + span:not(.lever):before {
    top: 0px;
    left: 0px;
    width: 10px;
    height: 17px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #348efe;
    border-bottom: 2px solid #348efe;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.dashboardFilters [type="checkbox"]:not(.filled-in) + span:not(.lever):after {
    border: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.dashboardFilters [type="checkbox"] + span:not(.lever):before, .dashboardFilters [type="checkbox"]:not(.filled-in) + span:not(.lever):after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 0;
    border: 2px solid #5a5a5a;
    border-radius: 1px;
    margin-top: 3px;
    -webkit-transition: .2s;
    transition: .2s;
}

.select-wrapper input.select-dropdown {
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    outline: none;
    height: 3rem;
    line-height: 3rem;
    width: 100%;
    font-size: 16px;
    margin: 0 0 8px 0;
    padding: 0 8px;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1;
    width: 85%;
}
/*
input[type=text]:not(.browser-default) {
    background-color: transparent;
    border: none;
    border-radius: 0;
    outline: none;
    height: 2rem;
    width: 85%;
    font-size: 16px;
    margin: 0 0;
    padding: 0px 8px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: border .3s, -webkit-box-shadow .3s;
    transition: border .3s, -webkit-box-shadow .3s;
    transition: box-shadow .3s, border .3s;
    transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
} */



input.customSearch {
    width: 100% !important;
    min-height: 40px;
}

.select-wrapper {
    background: #e6e7ec;
    border: 1px solid #e6e7ec;
    /*overflow: hidden;*/
}

.select-wrapper .caret {
    position: absolute;
    right: 0;
    top: 0px;
    bottom: 0;
    margin: auto 0;
    background: #e6e7ec;
    z-index: 0;
    fill: #888888;
    width: 25px;
    height: 45%;
}

.dashboardFilters [type="checkbox"] + span:not(.lever) {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dashboardFilters [type="checkbox"]:not(:checked):disabled + span:not(.lever):before {
    border: none;
    background-color: rgba(0, 0, 0, 0.42);
}

.dashboardFilters .btn {
    /* padding: .275rem .75rem; */
    min-height:40px;
    white-space: nowrap;
}

.dropdown-content li > span > label {
    top: 1px;
    left: 0;
    height: 18px;
    padding: 0px !important;
    text-align: left;
    margin-bottom: 0px;
}

/* label {
    font-size: .8rem;
    color: #9e9e9e;
} */

.btn-primary {
    color: #fff;
    background-color: #007bff !important;
}

.collapseOnClick {
    position: absolute;
    top: 5px;
    right: 5px;
}

.note_ul {
    list-style: disc;
    margin-left: 1em;
}

.note_ul > li {
    list-style-type: disc !important;
}

.banner_but .select {
    width: unset !important;
    padding: 5px 0px;
}

.banner_but .select .select-wrapper .dropdown-trigger {
    height: 3rem;
}

.banner_but .select .select-wrapper .dropdown-content {
    top: 55px !important;
}

.multiselect__tags-wrap {display:none!important;}
.multiselect__tags {height:40px!important;}
.rounded_counter {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 12px;
    font-family: 'Lato', sans-serif !important;
    border-radius: 50px;
    background-color: #ebaa34;
    border: 1px solid #fff;
    padding: 5px;
    color: #fff;
    line-height: 0.5;
}
.v-select-toggle {
    min-height: 40px;
    align-items: center;
    /* width: auto!important; */
    border: 1px solid #ced4da!important;
}
.v-select {height: 40px!important;width: auto!important;}
.v-select > div {min-width: max-content;right: 0;}
.arrow-down {margin-top:0!important}

@media (min-width: 1200px) {
    .select-options li {
        font-size: 14px;
    }

}
@media (max-width: 992px) {
    .multiselect_container {margin-bottom:10px;}
    .select_container {width: 100%!important;padding: 0!important;margin-bottom:10px;}

    .dashboardMenu ul li {
        display: none !important;

    }

    .dashboardMenu .dropdown-menu a {justify-content: flex-start;}
    .dashboardMenu ul li.dashboard, .dashboardMenu ul li.profile {
        display: flex !important;
        /* width:auto!important; */
    }
    #dropdownMenuButton {width: 100%;/*font-size: 12px;*/justify-content: space-between;}
    .searchFieldContainer input {
        margin-bottom: 10px !important;
    }
}
@media (max-width: 768px) {
    .dashboardFilters .btn.btn-primary {
        width: 100%;
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .headingOfLinks {
        margin: 3px 0px;
    }

    .dashboardTable {
        width: 1140px;
    }



    .searchFieldContainer .fa-search {
        top: 16px;
    }


}
