.nav-wrap {
    width: 100%;
    margin: 1em auto 0;
}

@media (min-width: 992px) {
    .nav-wrap {
        width: 50%;
    }
}

[hidden] {
    display: none;
    visibility: hidden;
}

.acnav {
    width: 100%;
    margin-bottom: 10px;
}

/* .accordion_box p {
    padding: 0px 30px 0 10px;
} */

.accordion_box:not(.editable) {
    display: flex;
    border-bottom: 1px solid #eaeaea;
    padding-top: 5px;
    padding-bottom: 5px;
    /* margin-bottom: 10px; */
    position: relative;
    flex-wrap: wrap;
}

.acnav__list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.acnav__list--level1 {
    border: 1px solid #fcfcfc;
}

/* .has-children > .acnav__label::before {
    content: "\f107";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    margin-right: 1em;
    transition: transform .3s;
    position: absolute;
    right: 0;
    font-size: 20px;
    font-weight: bolder;
    color: #fff;
} */

.has-children > .acnav__label .downArrow {
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
    margin-right: 1em;
    transition: transform .3s;
    position: absolute;
    right: 0;
    font-weight: bolder;
    color: #fff;
}

.has-children.is-open > .acnav__label::before {
    transform: rotate(177deg);
}

.acnav__link, .acnav__label {
    display: block;
    font-size: 16px;
    padding: 0px 50px 0px 20px;
    margin: 0;
    cursor: pointer;
    color: #b0b0b0;
    background: #333333;
    box-shadow: inset 0 0px #3988a0;
    transition: color .25s ease-in, background-color .25s ease-in;
    position: relative;
    display: flex;
    align-content: center;
    align-items: center;
    letter-spacing: 1px;
    border:0;
}

.acnav__label h2 {
    color: #ebaa34;
    float: left;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 38px;
    text-transform: uppercase;
    font-weight: 600;
}

.acnav__label button.btn p {
    padding: 0px 7px 0px 0px;
    font-weight: 600;
    font-size: 14px;
}

.acnav__label button.btn {
    display: flex;
    /*background: #e8e9f1;*/
    border-radius: 0;
    text-transform: uppercase;
    padding: 8px 8px;
}

/*.acnav__link:focus, .acnav__link:hover, .acnav__label:focus, .acnav__label:hover {*/
/*    color: #ffffff;*/
/*    background: #348efe;*/
/*}*/
/*.acnav__label:hover h2 {*/
/*    color: #ffffff;*/
/*}*/

.acnav__label:hover .btn {
    background: #333333;
    color: #ffffff;
}

li.has-children.is-open .btn {
    background: #333333;
    color: #ffffff;
}

li.has-children.is-open h2 {
    color: #ebaa34;
}

/*li.has-children.is-open .acnav__label {
    color: #ffffff;
    background: #348efe;
}*/
.acnav__link--level2, .acnav__label--level2 {
    padding-left: 3em;
    background: #2d6b7e;
}

.acnav__link--level2:focus, .acnav__link--level2:hover, .acnav__label--level2:focus, .acnav__label--level2:hover {
    background: #296272;
}

.acnav__link--level3, .acnav__label--level3 {
    padding-left: 5em;
    background: #296272;
}

.acnav__link--level3:focus, .acnav__link--level3:hover, .acnav__label--level3:focus, .acnav__label--level3:hover {
    background: #255867;
}

.acnav__link--level4, .acnav__label--level4 {
    padding-left: 7em;
    background: #255867;
}

.acnav__link--level4:focus, .acnav__link--level4:hover, .acnav__label--level4:focus, .acnav__label--level4:hover {
    background: #214f5c;
}

.acnav__list--level2, .acnav__list--level3, .acnav__list--level4 {
    display: none;
}

.acnav__list--level2, .acnav__list--level3, .acnav__list--level4 {
    display: block;
    /*border: 2px solid #f2f3f8;*/
    padding: 5px;
    color: #333332;
}

.banner.inner.project_details {
    background: url(https://google.com/wp-content/uploads/2020/11/project_details_back.jpg) no-repeat;
    height: auto;
    background-size: cover !important;
    background-attachment: revert !important;
    padding: 30px 0px;
}

.project_details_header {
    background: #ffffffa6;
    letter-spacing: 1px;
    padding: 0px 30px;
    display: flex;
    align-content: center;
    align-items: center;
    position: relative;
}

.project_details_header .lft {
    float: left;
    width: 40%;
}

.project_details_header .rgt {
    float: right;
    width: 60%;
    display: flex;
    align-content: center;
    align-items: center;
}

.project_details_header .Dashboard {
    float: left;
}

.project_details_header .Dashboard h1 {
    font-size: 16px;
    margin: 0px 12px;
    color: #333333;
    padding: 0;
    font-weight: 500;
    float: left;
}

.project_details_header .rgt .status {
    float: left;
    width: 50%;
    padding: 10px 10px;
    background: #ffffff75;
}

.project_details_header .rgt .btn.plans {
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
}

.project_details_header .lft .via {
    float: left;
}

.project_details_header .lft .via h2 {
    font-size: 16px;
    margin: 0px 12px;
    color: #333333;
    padding: 0;
    font-weight: 500;
}

.banner.inner.project_details .container-fluid {
    padding-right: 1%;
    padding-left: 1%;
}

.project_details_header .rgt .btn.plans h2 {
    font-size: 16px;
    margin: 0px 12px;
    color: #333333;
    padding: 0;
    font-weight: 500;
    float: left;
}

.project_details_header .rgt .btn.plans .select {
    float: right;
    width: 60%;
    clear: none;
    font-size: 16px;
    text-transform: capitalize;
    top: 0;
    padding: 24px 0px;
}

.project_details_header .rgt .status .banner_but {
}

.project_details_header .rgt .team {
    position: relative;
    float: left;
    margin: 0px 20px;
}

.project_details_header .rgt .team input {
    width: 100%;
    border: 0;
    padding: 16px 10px 16px 57px;
    line-height: 0;
    height: 100%;
}

.project_details_header .rgt .team img {
    position: absolute;
    top: 12px;
    left: 17px;
}

.project_details_header:after {
    content: "";
    display: block;
    clear: both;
}

.project_details_header .Dashboard img {
    float: left;
}

.project_details_header .rgt .last {
    float: right;
    line-height: 20px;
}

.project_details_header .rgt .last h3 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 600;
}

.project_details_header .rgt .last p {
    padding: 0;
    margin: 0;
    font-size: 16px;
}

.project_details_header .rgt .btn.plans .select .select-styled {
    padding: 4px 18px;
    font-weight: 400;
    border: 0px solid #CED4DA;
}

.project_details_header .lft .via:before {
}

.select-styled:active:after, .select-styled.active:after {
    top: 12px;
    border-color: transparent transparent #fff transparent;
}

.select-styled:after {
    content: "";
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-color: #ebaa34 transparent transparent transparent;
    position: absolute;
    top: 19px;
    right: 18px;
}

.project_details_page {
    background: #edeff8;
}

.project_details_page section.center {
    width: 90%;
    margin: 0px auto;
    padding: 10px 10px;
    /*display: flex;*/
    background: #fff;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.project_details_page .left {
    width: 40%;
}

.project_details_page .right {
    width: 58%;
}

.cross_box, .edit_box {
    position: absolute;
    right: 0;
    /*background: #e8e9f1;*/
    width: 30px;
    height: 30px;
    /* display: flex;
    align-content: center;
    align-items: center; */
    margin: 0 auto;
    text-align: center;
    padding: 0px 4px;
    cursor: pointer;
}

.cross_box:hover, .edit_box:hover {
    opacity: 0.7;
}

.accordion_profile_box {
    /* background: #f2f3f8; */
    display: flex;
    /* margin-bottom: 10px; */
    border-bottom: 1px solid #f2f3f8;
}

.accordion_profile_box.online > .text > h1 {
    display: flex;
    align-items: center;
}

.accordion_profile_box.online > .text > h1:after {
    content: 'online';
    background-color: #558610;
    padding: 4px;
    font-size: 10px;
    line-height: normal;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 12px;
}

.accordion_profile_box .img {
    margin-right: 15px;
    max-width: 75px;
}
.accordion_profile_box .img img {width:100%;}

.accordion_profile_box .text {
    position: relative;
    /* width: 85%; */
    padding: 10px 0px;
    flex:1;
}

.accordion_profile_box .text .cross_box {
    position: absolute;
    right: 10px;
    background: none;
}

.accordion_profile_box .text .edit_box {
    position: absolute;
    right: 40px;
    background: none;
}

.accordion_profile_box .email_box {
    display: flex;
    align-content: center;
    align-items: center;
    float: left;
    margin-right:15px;
    /* width: 50%; */
    font-size: 12px;
    line-height: 1;
    /*padding: 10px 0px;*/
    /*word-break: break-word;*/
}

.accordion_profile_box .email_box img {
    width: 20px;
    margin-right: 5px;
}

.accordion_profile_box .text h1 {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    padding-right: 75px;
}

.accordion_box.button {
    border-bottom: 0;
    padding-bottom: 0;
}

.icon_button {
    display: flex;
    background: transparent;
    border: 2px solid #e8e9f1;
    color: #333333;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    border-radius: 0px;
    padding: 5px 10px;
    /*width: -webkit-fill-available;*/
    margin: 0px 10px;
    text-align: center;
    white-space: nowrap;
}

.icon_button:hover {
    background: #dedede;
    color:#333333;
}

.accordion_box.table thead {
    color: #bfbfbf;
}

.accordion_box.table thead th {
    border-bottom: 1px solid #2f2f2f;
    border-top: 0px solid #dee2e6;
    font-weight: 400;
}

.accordion_box.table img {
    float: right;
    cursor: pointer;
}

.accordion_box.table thead th:last-child {
    text-align: right;
}


.no-underline {
    text-decoration: none !important;
}

.btn.plans select {
    padding: 0 8px;
    font-size: 18px;
    border-radius: 0;
    min-height: 45px;
}

.update_team {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 0;
    white-space: nowrap;
    margin: 0 10px;
    padding: 10px 18px;
}

.loader.pg-loader {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    display: none;
}

.loader.pg-loader img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#online-users {
    display: flex;
    width: 100%;
    flex-basis: 100%;
    max-width: 100%;
    flex-grow: 1;
    flex-shrink: 0;
}

.note_box > p {
    padding-right: 65px;
}

.note_box > .edit_box {
    right: 30px;
}

.autocomplete-suggestions {
    border: 1px solid #999;
    background: #FFF;
    overflow: auto;
}

.autocomplete-suggestion {
    white-space: nowrap;
    overflow: hidden;
    border-bottom: 1px solid lightgray;
    padding: 5px 10px;
    line-height: 20px;
    font-size: 14px;
    cursor: pointer;
}

.autocomplete-selected {
    background: #F0F0F0;
}

.autocomplete-suggestions strong {
    font-weight: normal;
    color: #3399FF;
}

.autocomplete-group {
    padding: 2px 5px;
}

.autocomplete-group strong {
    display: block;
    border-bottom: 1px solid #000;
}

.accordion_profile_box .email_box p {
    margin-bottom: 0;
}

.sortable_boxes {display: flex;}

.sortable {
    width:100%;
    /* background-color: rgb(151, 151, 151);
    padding:1em; */
    cursor: move;
    margin-bottom:2px;
}

.sortable span {float: right;}

/* .hello .sortable-drag {
    opacity: 0;
} */

.flip-list-move {
    transition: transform 0.5s;
}

.ghost {
    /* border-left: 6px solid rgb(0, 183, 255); */
}

.images-wrapper {
    margin-bottom: 20px;
    width: calc(16.66667% - 20px);
    margin-right: 20px;
}

.image {
    cursor: pointer;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100%;
}

@media (min-width: 200px) and (max-width: 1450px) {
    .accordion_profile_box .email_box {
        width: 100%;
        margin-bottom: 10px;
    }
}

@media only screen and ( max-width: 1400px ) {
    .project_details_header .Dashboard img {
        width: 18px;
    }

    .project_details_header .Dashboard h1 {
        font-size: 14px;
    }

    .project_details_header .lft .via h2 {
        font-size: 14px;
    }

    .project_details_header .rgt .btn.plans h2 {
        font-size: 12px;
        margin: 0;
        width: 60%;
    }

    .project_details_header .rgt .team input {
        font-size: 12px;
    }

    .project_details_header .rgt .team img {
        top: 15px;
        left: 17px;
        width: 20px;
    }

    .project_details_header .rgt .last p {
        font-size: 12px;
    }

    .project_details_header .rgt .last h3 {
        font-size: 12px;
    }

    .project_details_header .rgt .btn.plans .select .select-styled {
        font-size: 12px;
    }

    .select-options li {
        font-size: 12px;
    }

    .project_details_header {
        padding: 0px 14px;
    }

    .project_details_header .rgt .status {
        width: 44%;
    }
}

@media only screen and ( max-width: 1200px ) {
    .on_responsive_scroll {overflow-x: scroll;}
}
