@font-face {
    font-family: 'Lato-Black';
    src: url(../fonts/vendor/@lato/Lato-Black.ttf);
}

@font-face {
    font-family: 'Lato-BlackItalic';
    src: url(../fonts/vendor/@lato/Lato-BlackItalic.ttf);
}

@font-face {
    font-family: 'Lato-Bold';
    src: url(../fonts/vendor/@lato/Lato-Bold.ttf);
}

@font-face {
    font-family: 'Lato-BoldItalic';
    src: url(../fonts/vendor/@lato/Lato-BoldItalic.ttf);
}

@font-face {
    font-family: 'Lato-Italic';
    src: url(../fonts/vendor/@lato/Lato-Italic.ttf);
}

@font-face {
    font-family: 'Lato-Light';
    src: url(../fonts/vendor/@lato/Lato-Light.ttf);
}

@font-face {
    font-family: 'Lato-LightItalic';
    src: url(../fonts/vendor/@lato/Lato-LightItalic.ttf);
}

@font-face {
    font-family: 'Lato-Regular';
    src: url(../fonts/vendor/@lato/Lato-Regular.ttf);
}

@font-face {
    font-family: 'Lato-Thin';
    src: url(../fonts/vendor/@lato/Lato-Thin.ttf);
}

@font-face {
    font-family: 'Lato-ThinItalic';
    src: url(../fonts/vendor/@lato/Lato-ThinItalic.ttf);
}


* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

/*For Global Using*/
.btn-films {
    color: #fff;
    background-color: #ebaa34;
    font-weight: 700;
    border: 0;
    transition: all 0.3s ease;
}

.btn-films:hover {
    color: #fff;
    background-color: #0062cc;
    transition: all 0.3s ease;
}

.togglePara {
    height: 75px;
    display: inline-block;
    overflow: hidden;
    transition: all 0.3s ease;
}

.upgrade__multiselect .multiselect__option {
    padding: 0 !important;
}

.upgrade__multiselect .multiselect__option--selected {
    font-weight: 400 !important;
}

.upgrade__multiselect .multiselect__option--highlight {
    background: #007bff !important;
}

.upgrade__multiselect .multiselect__option--highlight:after, .upgrade__multiselect .multiselect__option:after {
    display: none !important;
}

.upgrade__multiselect .checkbox-label {
    display: block;
    padding: 12px;
}

/*For Global Using*/


/* Start Header */

header {
    background: #333333;
}

body {
    font-family: 'Lato', sans-serif !important;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    animation-iteration-count: 1;
    z-index: 99999;
    padding: 0px 0px;
    background: #333333de;
}

header:after {
    content: "";
    display: block;
    clear: both;
}

header .inner_container {
    display: flex;
    position: relative;
}

.left {
    flex: 1;
    display: flex;
    align-items: center;

}

.left .logo {
    display: flex;
    height: 100%;
    margin: 0px 25px;
}

.left .logo a {
    display: inline-block;
}

.left .logo a img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.navigation {
    float: left;
}

.navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation ul li {
    float: left;
    /*padding: 35px 10px;*/
    letter-spacing: 1px;
    margin: 0;
}

.navigation ul li a {
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 40px 20px;
    display: inline-block;
}

.navigation ul li:hover {
    background: #348efe;
}

.navigation ul li:hover a {
    color: #ffff;
}

.right {
    display: flex;
    align-items: center;
}

.phone_box:hover p {
    color: #348efe;
}

.phone_box:hover {
    cursor: pointer;
}

.right .login_box button.btn:hover {
    background: #348efe;
    border-left: 2px solid #ebaa34;
}

.right .login_box {
    height: 100%;
}

.phone_box {
    margin-right: 30px;
}

.banner .banner_but button.btn.start:hover {
    background: #348efe;
}

.method_box .method_text button.btn:hover {
    background: #348efe;
}

.phone_box p {
    color: #fff;
    float: left;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 15px 0px;
}

.phone_box img {
    float: left;
    margin: 0px 10px 0px 0px;
}

.right .login_box a {
    height: 100%;
    display: flex;

}

.right .login_box button.btn {
    background: #ebaa34;
    border-radius: 0;
    padding: 14px 40px;
    border: 0;
    border-left: 2px solid transparent;
    /*padding: 34px 40px;*/
}

.right .login_box button.btn .fa {
    float: left;
    font-size: 20px;
    margin: 5px 10px 5px 0px;
}

.right .login_box button.btn img {
    float: left;
    margin: 0px 10px 0px 0px;
}

.right .login_box button.btn p {
    float: left;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    color: #333333;
    letter-spacing: 1px;
    margin: 3px 0px;
}

header > .container-fluid {
    display: flex;
}

.sub-menu {
    height: 0;
    width: 100%;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    background: rgb(51 51 51 / 75%);
    transition: all 0.3s ease;
    text-align: right;
}

.navigation ul li:hover > .sub-menu {
    height: auto;
    transition: all 0.3s ease;
    opacity: 1;
    z-index: 999;
    top: 100%;
}

.navigation ul li .sub-menu li {
    float: none;
    display: inline-block;
}

.navigation ul li .sub-menu a {
    padding: 15px 25px;
}


.mobile-sub-menu {
    text-align: right;
}

/*
#responsive-menu li:hover > .mobile-sub-menu {
    height: auto;
    transition: all 0.3s ease;
    opacity: 1;
    z-index: 999;
    top: 100%;
}
#responsive-menu li .mobile-sub-menu li {
    float:none;
    display: inline-block;
}
#responsive-menu li .mobile-sub-menu a {
    padding:15px 25px;
} */

/* End Header */


/* footer section  */

footer.main_footer {
    background: #394b62;
    padding: 50px 0;
}

.footer_section:after {
    content: "";
    display: block;
    clear: both;
}

.footer_section .footer_first {
    float: left;
    width: 30%;
    position: relative;;
}

.footer_section .footer_first img {
    margin-left: 15%;
    display: inline-block;
}

.footer_section ul.footer_menu {
    list-style: none;
    margin: 0;
    padding-left: 25%;
}

.footer_section ul li {
    margin: 0px 0px 15px 0px;
}

.footer_section ul li a {
    color: #fff;
    letter-spacing: 1px;
    font-size: 18px;
}

.footer_section .footer_second {
    float: left;
    width: 30%;
    position: relative;
}

.footer_section .footer_second img {
    margin-left: 15%;
    display: inline-block;
}

.footer_section .footer_adres {
    color: #fff;
    letter-spacing: 1px;
    float: left;
    width: 40%;
    position: relative;
}

.footer_section .footer_adres .map_mark {
    margin-left: -5%;
}

.footer_section .footer_adres p {
    font-size: 18px;
}

.footer_section .footer_adres h3 {
    margin-bottom: 40px;
    font-size: 21px;
    color: #fff;
}

.footer_section .footer_adres li {
    float: left;
    margin: 9px 10px 0px 0px;
}

.footer_section .footer_adres h4 {
    font-weight: 700;
    color: #fff;
    font-size: 26px;
}

.footer_section ul li a:hover {
    color: #ebaa34;
}

.footer_section .footer_adres li img {
    width: 25px;
}

.footer_section .footer_adres li img:hover {
    opacity: 0.8;
    cursor: pointer;
}


/* footer section  */


.select-hidden {
    display: none;
    visibility: hidden;
    padding-right: 10px;
}

.select {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 21px;
    color: #fff;
    width: 100%;
    /*top: 4px;*/
    padding: 30px 0px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.select-options {
    display: none;
}


button#responsive-menu-button,
#responsive-menu-container {
    display: none;
    -webkit-text-size-adjust: 100%;
}

@media screen and (max-width: 1470px) {
    .navigation ul li a {
        font-size: 14px;
        padding: 40px 10px;
    }
}

@media screen and (max-width: 1200px) {

    .navigation {
        display: none;
    }

    /* .left .logo {
        flex:1;
    } */
    #responsive-menu-container {
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        z-index: 99998;
        padding-bottom: 5px;
        margin-bottom: -5px;
        outline: 1px solid transparent;
        overflow-y: auto;
        overflow-x: hidden;
    }

    #responsive-menu-container .responsive-menu-search-box {
        width: 100%;
        padding: 0 2%;
        border-radius: 2px;
        height: 50px;
        -webkit-appearance: none;
    }

    #responsive-menu-container.push-left,
    #responsive-menu-container.slide-left {
        transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
    }

    .responsive-menu-open #responsive-menu-container.push-left,
    .responsive-menu-open #responsive-menu-container.slide-left {
        transform: translateX(0);
        -ms-transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
    }

    #responsive-menu-container.push-top,
    #responsive-menu-container.slide-top {
        transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
    }

    .responsive-menu-open #responsive-menu-container.push-top,
    .responsive-menu-open #responsive-menu-container.slide-top {
        transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
    }

    #responsive-menu-container.push-right,
    #responsive-menu-container.slide-right {
        transform: translateX(100%);
        -ms-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
    }

    .responsive-menu-open #responsive-menu-container.push-right,
    .responsive-menu-open #responsive-menu-container.slide-right {
        transform: translateX(0);
        -ms-transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
    }

    #responsive-menu-container.push-bottom,
    #responsive-menu-container.slide-bottom {
        transform: translateY(100%);
        -ms-transform: translateY(100%);
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
    }

    .responsive-menu-open #responsive-menu-container.push-bottom,
    .responsive-menu-open #responsive-menu-container.slide-bottom {
        transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
    }

    #responsive-menu-container,
    #responsive-menu-container:before,
    #responsive-menu-container:after,
    #responsive-menu-container *,
    #responsive-menu-container *:before,
    #responsive-menu-container *:after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    #responsive-menu-container #responsive-menu-search-box,
    #responsive-menu-container #responsive-menu-additional-content,
    #responsive-menu-container #responsive-menu-title {
        padding: 25px 5%;
    }

    #responsive-menu-container #responsive-menu,
    #responsive-menu-container #responsive-menu ul {
        width: 100%;
    }

    #responsive-menu-container #responsive-menu ul.responsive-menu-submenu {
        display: none;
    }

    #responsive-menu-container #responsive-menu ul.responsive-menu-submenu.responsive-menu-submenu-open {
        display: block;
    }

    #responsive-menu-container #responsive-menu ul.responsive-menu-submenu-depth-1 a.responsive-menu-item-link {
        padding-left: 10%;
    }

    #responsive-menu-container #responsive-menu ul.responsive-menu-submenu-depth-2 a.responsive-menu-item-link {
        padding-left: 15%;
    }

    #responsive-menu-container #responsive-menu ul.responsive-menu-submenu-depth-3 a.responsive-menu-item-link {
        padding-left: 20%;
    }

    #responsive-menu-container #responsive-menu ul.responsive-menu-submenu-depth-4 a.responsive-menu-item-link {
        padding-left: 25%;
    }

    #responsive-menu-container #responsive-menu ul.responsive-menu-submenu-depth-5 a.responsive-menu-item-link {
        padding-left: 30%;
    }

    #responsive-menu-container li.responsive-menu-item {
        width: 100%;
        list-style: none;
    }

    #responsive-menu-container li.responsive-menu-item a {
        width: 100%;
        display: block;
        text-decoration: none;

        position: relative;
    }


    #responsive-menu-container #responsive-menu li.responsive-menu-item a {
        padding: 0 5%;
    }

    #responsive-menu-container .responsive-menu-submenu li.responsive-menu-item a {
        padding: 0 5%;
    }

    #responsive-menu-container li.responsive-menu-item a .fa {
        margin-right: 15px;
    }

    #responsive-menu-container li.responsive-menu-item a .responsive-menu-subarrow {
        position: absolute;
        top: 0;
        bottom: 0;
        text-align: center;
        overflow: hidden;
    }

    #responsive-menu-container li.responsive-menu-item a .responsive-menu-subarrow .fa {
        margin-right: 0;
    }

    button#responsive-menu-button .responsive-menu-button-icon-inactive {
        display: none;
    }


    button#responsive-menu-button img {
        max-width: 100%;
    }

    .responsive-menu-label {
        display: inline-block;
        font-weight: 600;
        margin: 0 5px;
        vertical-align: middle;
    }

    .responsive-menu-label .responsive-menu-button-text-open {
        display: none;
    }

    .responsive-menu-accessible {
        display: inline-block;
    }

    .responsive-menu-accessible .responsive-menu-box {
        display: inline-block;
        vertical-align: middle;
    }

    .responsive-menu-label.responsive-menu-label-top,
    .responsive-menu-label.responsive-menu-label-bottom {
        display: block;
        margin: 0 auto;
    }

    button#responsive-menu-button {
        padding: 0 0;
        display: inline-block;
        cursor: pointer;
        transition-property: opacity, filter;
        transition-duration: 0.15s;
        transition-timing-function: linear;
        font: inherit;
        color: inherit;
        text-transform: none;
        background-color: transparent;
        border: 0;
        margin: 0;
        overflow: visible;
    }

    .responsive-menu-box {
        width: 25px;
        height: 19px;
        display: inline-block;
        position: relative;
    }

    .responsive-menu-inner {
        display: block;
        top: 50%;
        margin-top: -1.5px;
    }

    .responsive-menu-inner,
    .responsive-menu-inner::before,
    .responsive-menu-inner::after {
        width: 25px;
        height: 3px;
        background-color: #ffffff;
        border-radius: 4px;
        position: absolute;
        transition-property: transform;
        transition-duration: 0.15s;
        transition-timing-function: ease;
    }

    .responsive-menu-open .responsive-menu-inner,
    .responsive-menu-open .responsive-menu-inner::before,
    .responsive-menu-open .responsive-menu-inner::after {
        background-color: #ffffff;
    }

    button#responsive-menu-button:hover .responsive-menu-inner,
    button#responsive-menu-button:hover .responsive-menu-inner::before,
    button#responsive-menu-button:hover .responsive-menu-inner::after,
    button#responsive-menu-button:hover .responsive-menu-open .responsive-menu-inner,
    button#responsive-menu-button:hover .responsive-menu-open .responsive-menu-inner::before,
    button#responsive-menu-button:hover .responsive-menu-open .responsive-menu-inner::after,
    button#responsive-menu-button:focus .responsive-menu-inner,
    button#responsive-menu-button:focus .responsive-menu-inner::before,
    button#responsive-menu-button:focus .responsive-menu-inner::after,
    button#responsive-menu-button:focus .responsive-menu-open .responsive-menu-inner,
    button#responsive-menu-button:focus .responsive-menu-open .responsive-menu-inner::before,
    button#responsive-menu-button:focus .responsive-menu-open .responsive-menu-inner::after {
        background-color: #ffffff;
    }

    .responsive-menu-inner::before,
    .responsive-menu-inner::after {
        content: "";
        display: block;
    }

    .responsive-menu-inner::before {
        top: -8px;
    }

    .responsive-menu-inner::after {
        bottom: -8px;
    }

    .responsive-menu-boring .responsive-menu-inner,
    .responsive-menu-boring .responsive-menu-inner::before,
    .responsive-menu-boring .responsive-menu-inner::after {
        transition-property: none;
    }

    .responsive-menu-boring.is-active .responsive-menu-inner {
        transform: rotate(45deg);
    }

    .responsive-menu-boring.is-active .responsive-menu-inner::before {
        top: 0;
        opacity: 0;
    }

    .responsive-menu-boring.is-active .responsive-menu-inner::after {
        bottom: 0;
        transform: rotate(-90deg);
    }

    button#responsive-menu-button {
        width: 55px;
        height: 55px;
        background: #348dfd;
        margin: 0 15px;
        position: relative;
        z-index: 111111;
    }

    .responsive-menu-open button#responsive-menu-button {
        background: #000000
    }

    .responsive-menu-open button#responsive-menu-button:hover,
    .responsive-menu-open button#responsive-menu-button:focus,
    button#responsive-menu-button:hover,
    button#responsive-menu-button:focus {
        background: #000000
    }

    button#responsive-menu-button .responsive-menu-box {
        color: #ffffff;
    }

    .responsive-menu-open button#responsive-menu-button .responsive-menu-box {
        color: #ffffff;
    }

    .responsive-menu-label {
        color: #ffffff;
        font-size: 14px;
        line-height: 13px;
    }

    button#responsive-menu-button {
        display: inline-block;
        transition: transform 0.5s, background-color 0.5s;
    }


    #responsive-menu-container {
        width: 75%;
        left: 0;
        transition: transform 0.5s;
        text-align: left;
        background: #212121;
    }

    #responsive-menu-container #responsive-menu-wrapper {
        background: #212121;
    }

    #responsive-menu-container #responsive-menu-additional-content {
        color: #ffffff;
    }

    #responsive-menu-container .responsive-menu-search-box {
        background: #ffffff;
        border: 2px solid #dadada;
        color: #333333;
    }

    #responsive-menu-container .responsive-menu-search-box:-ms-input-placeholder {
        color: #c7c7cd;
    }

    #responsive-menu-container .responsive-menu-search-box::-webkit-input-placeholder {
        color: #c7c7cd;
    }

    #responsive-menu-container .responsive-menu-search-box:-moz-placeholder {
        color: #c7c7cd;
        opacity: 1;
    }

    #responsive-menu-container .responsive-menu-search-box::-moz-placeholder {
        color: #c7c7cd;
        opacity: 1;
    }

    #responsive-menu-container .responsive-menu-item-link,
    #responsive-menu-container #responsive-menu-title,
    #responsive-menu-container .responsive-menu-subarrow {
        transition: background-color 0.5s, border-color 0.5s, color 0.5s;
    }

    #responsive-menu-container #responsive-menu-title {
        background-color: #212121;
        color: #ffffff;
        font-size: 13px;
        text-align: left;
    }

    #responsive-menu-container #responsive-menu-title a {
        color: #ffffff;
        font-size: 13px;
        text-decoration: none;
    }

    #responsive-menu-container #responsive-menu-title a:hover {
        color: #ffffff;
    }

    #responsive-menu-container #responsive-menu-title:hover {
        background-color: #212121;
        color: #ffffff;
    }

    #responsive-menu-container #responsive-menu-title:hover a {
        color: #ffffff;
    }

    #responsive-menu-container #responsive-menu-title #responsive-menu-title-image {
        display: inline-block;
        vertical-align: middle;
        max-width: 100%;
        margin-bottom: 15px;
    }

    #responsive-menu-container #responsive-menu-title #responsive-menu-title-image img {
        max-width: 100%;
    }

    #responsive-menu-container #responsive-menu > li.responsive-menu-item:first-child > a {
        border-top: 1px solid #212121;
    }

    #responsive-menu-container #responsive-menu li.responsive-menu-item .responsive-menu-item-link {
        font-size: 13px;
    }

    #responsive-menu-container #responsive-menu li.responsive-menu-item a {
        line-height: 40px;
        border-bottom: 1px solid #212121;
        color: #ffffff;
        background-color: #212121;
        height: 40px;
    }

    #responsive-menu-container #responsive-menu li.responsive-menu-item a:hover {
        color: #ffffff;
        background-color: #3f3f3f;
        border-color: #212121;
    }

    #responsive-menu-container #responsive-menu li.responsive-menu-item a:hover .responsive-menu-subarrow {
        color: #ffffff;
        border-color: #3f3f3f;
        background-color: #3f3f3f;
    }

    #responsive-menu-container #responsive-menu li.responsive-menu-item a:hover .responsive-menu-subarrow.responsive-menu-subarrow-active {
        color: #ffffff;
        border-color: #3f3f3f;
        background-color: #3f3f3f;
    }

    #responsive-menu-container #responsive-menu li.responsive-menu-item a .responsive-menu-subarrow {
        right: 0;
        height: 39px;
        line-height: 39px;
        width: 40px;
        color: #ffffff;
        border-left: 1px solid #212121;

        background-color: #212121;
    }

    #responsive-menu-container #responsive-menu li.responsive-menu-item a .responsive-menu-subarrow.responsive-menu-subarrow-active {
        color: #ffffff;
        border-color: #212121;
        background-color: #212121;
    }

    #responsive-menu-container #responsive-menu li.responsive-menu-item a .responsive-menu-subarrow.responsive-menu-subarrow-active:hover {
        color: #ffffff;
        border-color: #3f3f3f;
        background-color: #3f3f3f;
    }

    #responsive-menu-container #responsive-menu li.responsive-menu-item a .responsive-menu-subarrow:hover {
        color: #ffffff;
        border-color: #3f3f3f;
        background-color: #3f3f3f;
    }

    #responsive-menu-container #responsive-menu li.responsive-menu-current-item > .responsive-menu-item-link {
        background-color: #212121;
        color: #ffffff;
        border-color: #212121;
    }

    #responsive-menu-container #responsive-menu li.responsive-menu-current-item > .responsive-menu-item-link:hover {
        background-color: #3f3f3f;
        color: #ffffff;
        border-color: #3f3f3f;
    }

    #responsive-menu-container #responsive-menu ul.responsive-menu-submenu li.responsive-menu-item .responsive-menu-item-link {
        font-size: 13px;
        text-align: left;
    }

    #responsive-menu-container #responsive-menu ul.responsive-menu-submenu li.responsive-menu-item a {
        height: 40px;
        line-height: 40px;
        border-bottom: 1px solid #212121;
        color: #ffffff;
        background-color: #212121;
    }

    #responsive-menu-container #responsive-menu ul.responsive-menu-submenu li.responsive-menu-item a:hover {
        color: #ffffff;
        background-color: #3f3f3f;
        border-color: #212121;
    }

    #responsive-menu-container #responsive-menu ul.responsive-menu-submenu li.responsive-menu-item a:hover .responsive-menu-subarrow {
        color: #ffffff;
        border-color: #3f3f3f;
        background-color: #3f3f3f;
    }

    #responsive-menu-container #responsive-menu ul.responsive-menu-submenu li.responsive-menu-item a:hover .responsive-menu-subarrow.responsive-menu-subarrow-active {
        color: #ffffff;
        border-color: #3f3f3f;
        background-color: #3f3f3f;
    }

    #responsive-menu-container #responsive-menu ul.responsive-menu-submenu li.responsive-menu-item a .responsive-menu-subarrow {
        left: unset;
        right: 0;
        height: 39px;
        line-height: 39px;
        width: 40px;
        color: #ffffff;
        border-left: 1px solid #212121 !important;
        border-right: unset !important;
        background-color: #212121;
    }

    #responsive-menu-container #responsive-menu ul.responsive-menu-submenu li.responsive-menu-item a .responsive-menu-subarrow.responsive-menu-subarrow-active {
        color: #ffffff;
        border-color: #212121;
        background-color: #212121;
    }

    #responsive-menu-container #responsive-menu ul.responsive-menu-submenu li.responsive-menu-item a .responsive-menu-subarrow.responsive-menu-subarrow-active:hover {
        color: #ffffff;
        border-color: #3f3f3f;
        background-color: #3f3f3f;
    }

    #responsive-menu-container #responsive-menu ul.responsive-menu-submenu li.responsive-menu-item a .responsive-menu-subarrow:hover {
        color: #ffffff;
        border-color: #3f3f3f;
        background-color: #3f3f3f;
    }

    #responsive-menu-container #responsive-menu ul.responsive-menu-submenu li.responsive-menu-current-item > .responsive-menu-item-link {
        background-color: #212121;
        color: #ffffff;
        border-color: #212121;
    }

    #responsive-menu-container #responsive-menu ul.responsive-menu-submenu li.responsive-menu-current-item > .responsive-menu-item-link:hover {
        background-color: #3f3f3f;
        color: #ffffff;
        border-color: #3f3f3f;
    }

    /* ul.d-flex.align-items-center.mainMenu, .rgt.d-flex {
        flex-direction: column;

    } */
    ul.d-flex.align-items-center.mainMenu li {
        width: 100%; /*margin:0!important;padding: 10px;flex:1;*/
    }

    .dashboard.dropdown {
        margin-right: auto;
    }

    li.ml-auto.profile.dropdown {
        width: 100%;
    }

    li.ml-auto.profile.dropdown a {
        display: flex;
        justify-content: space-between;
        /* padding:5px!important; */
    }

    .dashboardMenu ul li a img {
        width: 35px;
    }

    .dashboardFilters .btn {
        flex: 1;
    }
}


@media screen and (max-width: 992px) {
    header .inner_container {
        flex-direction: column;
    }

    /* .phone_box {
        flex:1;
        margin-left: 15px;
        margin-right: 0;
    } */
    .left .logo {
        /* flex:1; */
        margin-left: 15px;
        margin-right: 0;
    }

    .select {
        margin-bottom: 15px;
    }

    .dashboardFilters .btn.btn-primary {
        /* margin-bottom: 50px; */
    }

    .footer_section .footer_first, .footer_section .footer_second, .footer_section ul.footer_menu, .footer_section .footer_adres {
        width: 100%;
        padding-left: 0;
    }

    .footer_section .footer_first img, .footer_section .footer_second img {
        margin-left: -5%;
    }

    .right .login_box {
        width: 100%;
    }

    .right .login_box button.btn {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    /* .left {display: block;} */
    /* .resposnive_menu_container {
        position: absolute;
        right: 0;
        top: 15px;
    } */
    .phone_box {
        width: 100%;
        padding: 15px;
        margin-left: 0;
        margin-right: 0;
        display: inline-block;
    }

    .dashboardMenu .dropdown-menu {
        width: 100%;
    }

    .mainMenu {
        flex-wrap: wrap;
    }

    .profile.dropdown > div:last-child {
        margin-left: auto;
    }

    .profile.dropdown a {
        padding: 0 10px !important;
    }
}


@media screen and (max-width: 768px) {
    .right {
        flex-direction: column;
    }

    .login_box, .right .login_box button.btn {
        width: 100%;
    }

    /* .phone_box {
        width: 100%;
        padding: 15px;
        margin-left:0;
    } */
    /* .left .logo {margin-left: 0;} */
}


/*Login Page Style Start*/


.main_container {
    align-items: center;
    min-height: 400px;
    background: url(../images/banner_blog.jpg) no-repeat top center #f1f1f1;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom right;
}

.combined_credential_container {

    width: 100%;
}

.combined_credential_container .container {
    max-width: 1300px;
}

.title_container {
    /*text-align: center;*/
    padding: 76px 0px;
}

.main_container_back {
    background: #f1f1f1;
}

.title_container h3.black {
    font-size: 30px;
    font-weight: 600;
    margin: 0px;
    padding: 0;
    text-shadow: 1px 1px 0px #0000001a;
    color: #333333;
    text-transform: uppercase;
    line-height: 13px;
    letter-spacing: 1px;
}

.title_container h1.black {
    font-size: 62px;
    margin: 0;
    text-transform: uppercase;
    color: #333333;
    line-height: 80px;
    letter-spacing: 1px;
    font-weight: 300;
    text-shadow: 1px 1px 0px #0000003d;
}

.title_container h4 {
    color: #3484e7;
    font-size: 21px;
    font-weight: 700;
    text-shadow: 1px 1px 0px #00000021;
    line-height: 6px;
    letter-spacing: 1px;
}

.title_container h2 {
    font-weight: 700;
    color: #484848;
    font-size: 30px;
}

.title_container h2 span {
    font-weight: 300;
    position: relative;
    z-index: 1;
}

.title_container h2 span:before {
    background: url(https://google.com/wp-content/themes/Divi/images/heading_logo.png) no-repeat center center;
    background-size: contain;
    position: absolute;
    height: 100px;
    width: 100px;
    display: block;
    content: "";
    left: -25%;
    top: -75%;
    z-index: -1;
    opacity: 0.4;
}

.title_container p {
    font-weight: 800;
    color: #007bff;
    text-transform: uppercase;
    font-size: 21px;
}

.combined_credential_form {
    display: flex;
    padding: 50px 0;
    margin-top: -180px;
}

.signin_box, .register_box {
    width: 50%;
    /*padding: 0 100px;*/

}

.signin_box .inner {
    background-color: #fff;
    height: 100%;
}

.register_box .inner {
    background-color: #f4f7f8;
    height: 100%;
}

.signin_box .inner .box_1 {
    /*padding: 30px;*/

    /*border-bottom: 1px solid #fff;*/
    /*display: flex;*/
    text-align: center;
}

.signin_box .inner .box_1 img {
    object-fit: contain;

    margin: -8px 14px 0px 0px;

}

.combined_credential_form .box_1 {
    margin-bottom: 50px;
}


.signin_box .input_container:focus {
    outline: none;
    box-shadow: none;
}

.register_box .input_container:focus {
    box-shadow: none !important;
    outline: none;
}

.register_box .select_container:focus {
    box-shadow: none;
}

.signin_box .input_container {
    /*padding: 25px;*/
    background-color: #f1f1f1 !important;
    border: none;
    min-height: 55px;
    font-size: 16px;
    letter-spacing: 1px;
}

.register_box .input_container {
    /*padding: 25px;*/
    background-color: #fff;
    border: none;
    min-height: 55px;
    letter-spacing: 1px;
}

.register_box .select_container {
    border: none;
    color: #757575;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.register_box .inner .box_1 {
    /*padding: 30px;*/
    /*border-bottom: 1px solid #fff;*/

    /*display: flex;*/
    text-align: center;
}

.register_box .inner .box_1 img {
    object-fit: contain;

    margin: -7px 14px 0px 0px;

}

.combined_credential_form .inner {
    padding: 40px 100px;
    letter-spacing: 1px;
}

.col-form-label {

    font-size: 16px;
}

.combined_credential_form .inner .box_1 h3 {
    color: #484848;
    font-size: 24px;
    font-weight: 900;
    margin: 0;
}

.combined_credential_form .inner .box_1 p {
    margin: 0;
    padding: 0;
    line-height: normal;
    font-size: 18px;
    text-transform: capitalize;
}

.between_line {
    height: 400px;
    margin-top: 100px;
    width: 1px;
    background-color: #fff;
}

/*.input_container {
    padding: 25px;
}*/

.text_box {
    text-align: center;
    margin: 25px 0;
    position: relative;
}

.text_box p {
    color: #767676;
    font-size: 16px;
    text-transform: capitalize;
}

.button_box {
    display: flex;
    justify-content: center;
}

.combined_credential_form .text_box p::before {
    display: inline-block;
    content: "";
    border-top: 1px solid #e0e0e0;
    width: 30%;
    margin: 0 1rem;
    transform: translateY(-4px);
    position: absolute;
    left: 0;
    bottom: 8px;
}

.combined_credential_form .text_box p::after {
    display: inline-block;
    content: "";
    border-top: 1px solid #e0e0e0;
    width: 30%;
    margin: 0 1rem;
    transform: translateY(-4px);
    position: absolute;
    bottom: 8px;
    right: 0;
}

.button_box a {
    display: inline-flex;
    padding: 10px 20px;
    text-decoration: none;
    color: #484848;
    margin: 0 8px;
    transition: all 0.3s ease;
    font-size: 14px;
    font-weight: 700;
    min-width: auto;
    align-items: center;
    width: 32%;
    margin: 0px 6px;
}

.button_box a img {
    margin-right: 5px;
}

.button_box a i {
    display: inline-block;
    padding-right: 5px;
}

/*.button_box a:hover {
    border: 1px solid #77bbf6;
background-color: #419ff6;
} */
.select_container {
    height: 55px;
    /* padding: 0.375rem 0.75rem; */
}

.btn-credential {
    border-radius: 0;
    padding: 16px 50px;
    background-color: #348efe;
    color: #fff;
    font-size: 16px;
    display: table;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    text-shadow: 1px 1px 3px #0000008f;
}

.btn-credential:hover {
    background-color: #ebaa34;
}

.btn-credential-yellow {
    border-radius: 0;
    padding: 18px 50px;
    background-color: #ebaa34;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    letter-spacing: 1px;
    text-shadow: 1px 1px 3px #0000008f;
}

.btn-credential-yellow:hover {
    background-color: #348efe;
    text-shadow: 1px 1px 3px #0000001a;
}

/*select {


    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}*/

.text-yellow:hover {
    color: #348efe !important;
    text-decoration: underline;
}

.text-yellow {
    color: #ebaa34 !important;
    font-size: 16px;
    position: relative;
    top: 3px;
    text-decoration: underline;
    margin-bottom: 30px;
}

.facebook_btn {
    border: 2px solid #4267b2;
    border-radius: 4px;
    display: inline-block;
}

.twitter_btn {
    border: 2px solid #50abf3;
    border-radius: 4px;
    display: inline-block;
}

.google_btn {
    border: 2px solid #f14336;
    border-radius: 4px;
    display: inline-block;
}

.facebook_btn:hover {
    background-color: #4267b2;
    color: #fff;
}

.twitter_btn:hover {
    background-color: #50abf3;
    color: #fff;
}

.google_btn:hover {
    background-color: #f14336;
    color: #fff;
}


/*Custom Checkbox*/
.checkcontainer {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    /*margin-bottom: 12px;*/
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 2;
}

/* Hide the browser's default checkbox */
.checkcontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.bg-checkmark-gray {
    background-color: #eee;
}

.bg-checkmark-white {
    background-color: #fff;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 35px;
    width: 35px;
    border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.checkcontainer:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkcontainer input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkcontainer input:checked ~ .checkmark:after {
    display: block;
}

.alert-danger {
    color: #ffffff;
    background-color: #d40014;
    border-color: #ffffff;
    text-align: center;
    font-size: 18px;
    letter-spacing: 2px;
}

/* Style the checkmark/indicator */
.checkcontainer .checkmark:after {
    left: 15px;
    top: 11px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*Custom Checkbox*/
.main_container_back .container-fluid {
    padding-right: 8%;
    padding-left: 8%;
}

.d-flex.flex_direction.main {
    box-shadow: 0px 0px 40px 0px #00000045;
}

.form-group.custom {
    position: relative;
}


.form-group.custom .icon:after {
    content: "";
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-color: #d0d0d0 transparent transparent transparent;
    position: absolute;
    top: 22px;
    right: 18px;
    z-index: 9999;
}

.nsl-container-block {
    width: 100% !important;
}

div.nsl-container-block .nsl-container-buttons a {
    width: auto !important;
    padding: 0;
    max-width: initial;
    margin: 0 5px;
    flex: 1;
}

div.nsl-container-block .nsl-container-buttons {
    flex-direction: initial;
    display: flex;
}

div.nsl-container-block .nsl-container-buttons a span {
    padding: 8px;
    width: 100%;
}

@media screen and (max-width: 1400px) {
    .main_container {
        min-height: 300px;
    }

    .title_container {
        padding: 45px 0px;
    }

    .title_container h3.black {
        font-size: 21px;
    }

    .title_container h1.black {
        font-size: 40px;
        line-height: 44px;
    }

    .title_container h4 {
        font-size: 16px;
    }

    .combined_credential_form .inner {
        padding: 40px 50px;
    }

    .register_box .inner .box_1 img {
        margin: -7px 10px 0px 0px;
        width: 22px;
    }

    .signin_box .inner .box_1 img {
        margin: -9px 10px 0px 0px;
        width: 24px;
    }

    .combined_credential_form .inner .box_1 h3 {
        font-size: 18px;
    }

    .combined_credential_form .inner .box_1 p {
        line-height: 0px;
        font-size: 12px;
    }

    .col-form-label {
        font-size: 12px;
    }

    .signin_box .input_container {
        padding: 20px;
        min-height: 39px;
        font-size: 12px;
    }

    /*.form-group {
        margin-bottom: 5px;
    }*/
    .select_container {
        height: 44px;
        /* padding: 0px 20px; */
        font-size: 12px;
    }

    .register_box .input_container {
        /*padding: 20px;*/
        min-height: 44px;
        font-size: 12px;
    }

    .form-group.custom .icon:after {
        border: 5px solid transparent;
        border-color: #d0d0d0 transparent transparent transparent;
        /*top: 51px;*/
        right: 18px;
    }

    .checkcontainer {
        padding-left: 19px;
        cursor: pointer;
        font-size: 12px;
        margin-top: 8px;
        line-height: 19px;
    }

    .checkmark {
        height: 20px;
        width: 20px;
    }

    .checkcontainer .checkmark:after {
        left: 8px;
        top: 5px;
        width: 5px;
        height: 8px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .text-yellow {
        font-size: 11px;
    }

    .btn-credential {
        padding: 12px 30px;
        font-size: 12px;
    }

    .combined_credential_form .text_box p::before {
        width: 28%;
    }

    .combined_credential_form .text_box p::after {
        width: 28%;
    }

    .text_box p {
        font-size: 14px;
    }

    .button_box a img {
        margin-right: 8px;
        width: 18px;
    }

    .button_box a {
        padding: 3px 20px;
        font-size: 10px;
        width: 32%;
        margin: 0px 3px;
    }

    .btn-credential-yellow {
        padding: 12px 30px;
        font-size: 12px;
        position: relative;
        top: 10px;
    }

    .combined_credential_form .box_1 {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1200px) {
    .combined_credential_form {
        flex-wrap: wrap;
    }

    .signin_box {
        margin-bottom: 50px;
    }

    .between_line {
        display: none;
    }

    .signin_box, .register_box {
        width: 100%;
        padding: 0 25px;
    }

    .flex_direction {
        flex-wrap: wrap;
    }

    .title_container h4 {
        font-size: 16px;
        line-height: 20px;
    }
}

@media screen and (max-width: 768px) {
    .signin_box, .register_box {
        padding: 15px;
    }

    .title_container h2 span:before {
        left: -25px;
    }

    .input_container {
        padding: 15px;
    }

    .signin_box .inner .box_1, .register_box .inner .box_1 {
        padding: 15px;
    }

    .signin_box .inner .box_2, .register_box .inner .box_2 {
        padding: 15px;
    }
}

@media screen and (max-width: 575px) {
    .button_box {
        flex-wrap: wrap;
    }

    .button_box a {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }

    .btn-credential-yellow {
        margin-top: 10px;
    }

    .title_container {
        padding: 25px 0px;
    }

    .title_container h4 {
        font-size: 16px;
        line-height: 18px;
    }

    .combined_credential_form .inner {
        padding: 10px 10px;
    }

    .combined_credential_form .inner .box_1 p {
        line-height: 15px;
        font-size: 12px;
    }

    .signin_box .inner .box_1, .register_box .inner .box_1 {
        padding: 15px;
        margin-bottom: 0px;
    }
}

/*Login Page Style End*/


/*Phases Start*/
.img_container {
    position: relative;
    margin-left: 5px;
    display: flex;
    min-height: 50px;
}

.img_container img {
    width: 50px;
    height: 50px;
    border-width: 3px;
    border-style: solid;
}

.img_container .img_box {
    position: relative;
    /*margin-left: 10px;*/
    width: 50%;

}

.img_container .img_box a {
    position: absolute;
    z-index: 1;
    width: 50px;
    height: 50px;
    border-width: 3px;
    border-style: solid;
}

.img_container .img_box a:nth-child(2) {
    left: 15px;
    z-index: 2;
}

.img_container .img_box a:nth-child(3) {
    left: 30px;
    z-index: 3;
}

.task_main {
    max-width: 1200px;
    margin: 0 auto;
}

.task_container {
    display: flex;
}

.addphase {
    background-color: #c9cfdd;
    width: 175px;
    height: 60px;
    position: relative;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 35px;
    cursor: pointer;
}

.addphase .phase_title {
    color: #fff;
    letter-spacing: 0.5px;
    margin-bottom: 0;
    font-size: 12px;
    cursor: pointer;
}

.addphase select {
    border: 0;
    outline: 0;
    background: transparent;
    color: #fff;
    display: flex;
    align-items: center;
    align-self: flex-end;
    letter-spacing: 1px;
}

.addphase select option {
    color: #000;
}

.addphase .dropdown-toggle {
    background-color: transparent !important;
    box-shadow: none !important;
    border: 1px solid #fff !important;
    padding: 5px;
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.addphase .dropdown-toggle::after {
    margin: 0;
}

.addphase .dropdown-menu {
    padding: 0;
    min-width: 120px;
}

.addphase .dropdown a {
    color: #000;
    font-size: 14px;
    justify-content: initial;
    padding: 5px;
    line-height: 10px;
    transition: all 0.3s ease;
}

.addphase .dropdown a:hover {
    background-color: #e9e9e9;
}

.task_container .phase_box:first-child .addphase {
    /*justify-content: center;*/
}

.phase_box.red .addphase {
    background-color: #ec1b23;
}

.phase_box.red .addphase:before {
    border-left: 20px solid #ec1b23;
}

.phase_box.red .img_container {
    /*margin-left: 5px;*/
}

.phase_box.red .img_container .img_box img {
    border: 2px solid #ec1b23;
    background-color: #424242;
}

.phase_box.orange .addphase {
    background-color: #f05923;
}

.phase_box.orange .addphase:before {
    border-left: 20px solid #f05923;
}

.phase_box.orange .img_container {
    margin-left: 5px;
}

.phase_box.orange .img_container .img_box img {
    border: 2px solid #f05923;
    background-color: #f05923;
}

.phase_box.midorange .addphase {
    background-color: #f7921e;
}

.phase_box.midorange .addphase:before {
    border-left: 20px solid #f7921e;
}

.phase_box.midorange .img_container {
    margin-left: 5px;
}

.phase_box.midorange .img_container .img_box img {
    border: 2px solid #f7921e;
    background-color: #f7921e;
}

.phase_box.lightorange .addphase {
    background-color: #faaf3a;
}

.phase_box.lightorange .addphase:before {
    border-left: 20px solid #faaf3a;
}

.phase_box.lightorange .img_container {
    margin-left: 5px;
}

.phase_box.lightorange .img_container .img_box img {
    border: 2px solid #faaf3a;
    background-color: #faaf3a;
}

.phase_box.yellow .addphase {
    background-color: #fbca03;
}

.phase_box.yellow .addphase:before {
    border-left: 20px solid #fbca03;
}

.phase_box.yellow .img_container {
    margin-left: 5px;
}

.phase_box.yellow .img_container .img_box img {
    border: 2px solid #fbca03;
    background-color: #fbca03;
}

.addphase:after {
    content: "";
    position: absolute;
    right: -25px;
    top: -6px;
    border-top: 36px solid transparent;
    border-bottom: 36px solid transparent;
    border-left: 24px solid #ffffff;
    z-index: 1;
}

.addphase:before {
    content: "";
    position: absolute;
    right: -20px;
    top: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 20px solid #c9cfdd;
    z-index: 2;
}

.addphase > i.arrow {
    content: "";
    position: absolute;
    right: -20px;
    top: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 20px solid #c9cfdd;
    z-index: 2;
}

.addphase a {
    font-size: 18px;
    color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
    z-index: 1;
    text-decoration: none;
}

.addphase a span {
    font-size: 16px;
    display: inline-block;
    margin: 0 10px;
}

.img_add {
    position: relative;
    z-index: 999;
    display: inline-block;
}

.img_add:after {
    content: "+";
    position: absolute;
    left: 0;
    top: 0;
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    color: #fff;
    font-weight: 900;
}

.img_add img {
    /*border-width:5px;*/
    /*border-style: solid;*/
    /*border-color: #838383;*/
    display: inline-block;
    background: #424242;
}

.task_detail {
    display: flex;
    align-items: center;
}

.task_color {
    height: 15px;
    width: 15px;
    margin-bottom: 0;
    margin-left: 5px;
    margin-right: 10px;
    /* background-color: red; */
    padding: 0;
}

.specific_phase_container {
    display: flex;
    /* margin-top: 200px; */
    margin: 15px auto 25px;
    /* max-width: 1200px; */
    width: 100%;
}

.custom-table td {
    padding: 5px;
}

.show-task-detail {
    cursor: pointer;
}

.t_label {
    font-weight: bold;
    text-decoration: underline;
}

#p_color, #upd_p_color {
    min-width: 60px;
}


@media screen and (max-width: 992px) {

    .specific_phase_container, .task_container {
        flex-direction: column;
    }

    .addphase {
        padding: 15px !important;
        width: 100% !important;
        display: flex;
        justify-content: space-between;

    }

    .addphase:before {
        display: none;
    }

    .addphase:after {
        content: "";
        position: absolute;
        left: calc(50% - 10px);
        right: auto;
        top: 78%;
        border-top: 25px solid transparent;
        border-bottom: 0;
        border-right: 0 solid transparent;
        border-left: 25px solid #c9cfdd;
        transform: rotate(-45deg);
    }

    .phase_box {
        /* display: flex; */
        flex-direction: row-reverse;
        /* justify-content: flex-end; */
        justify-content: center;
        margin-bottom: 15px;
    }

    .addphase > i.arrow {
        content: "";
        position: absolute;
        left: calc(50% - 10px);
        right: auto;
        top: 75%;
        border-top: 25px solid transparent;
        border-bottom: 0;
        border-right: 0 solid transparent;
        border-left-width: 25px;
        border-left-style: solid;
        transform: rotate(-45deg);
        /*Added for dynamic*/
    }

    .img_container .img_box a, .img_add {
        height: 100%;
        display: flex;
        align-items: flex-end;
    }

    .img_add:after {
        top: 10%;
    }

    .img_container {
        width: 100%;
    }

    .img_container img {
        width: 50px;
        background-color: transparent !important;
    }

    .img_container .img_box {
        width: 85px;
    }

    .addphase.w-auto.pl-4 div {
        width: 100%;
        text-align: center;
    }
}

.toast-position-ne {
    opacity: 1 !important;
    border: none !important;
    background-color: transparent !important;
}

.toast-message {
    margin-bottom: 0 !important;
}

/*Phases End*/


/*Funnels Start*/

.main_slider {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 600px;
    display: flex;
    align-items: center;
    padding: 50px 0;
}

.main_slider .text h2 {
    color: #fff;
    font-size: 40px;
    font-family: 'Lato-Bold';
    text-shadow: 2px 2px 2px #00000085;
}

.main_slider .text h3 {
    color: #fff;
    font-size: 22px;
    font-family: 'Lato-Bold';
    letter-spacing: 4.5px;
    display: inline-block;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.main_slider .text h3:after {
    content: "";
    border: 0.2px solid #ebaa34;
    height: 0px;
    width: 25%;
    position: absolute;
    margin-top: 16px;
}

.main_slider .text h5 {
    color: #ebaa34;
    font-size: 18px;
    font-family: 'Lato-Bold';
    margin-bottom: 30px;
}

.main_slider .text p {
    color: #fff;
    font-size: 21px;
    line-height: 36px;
    font-family: 'Lato-Regular';
}

.main_slider .video_box .video a {
    min-height: 370px;
    display: flex;
    border: 10px solid #d2e0e9;
    border-radius: 10px;
    position: relative;
    align-items: center;
    justify-content: center;
    background-size: cover !important;
}

.main_slider .video_box .video a:after {
    content: "";
    background: url(../images/play_icon.png) no-repeat center center;
    background-size: contain;
    height: 67px;
    width: 67px;
    display: inline-block;
}

.btn_start_project {
    background-color: #ebaa34;
    margin: 0;
    border-radius: 5px;
    border: 2px solid #fff;
    position: relative;
    display: inline-flex;
    align-items: center;
    padding: 10px 15px;
    transition: all 0.3s ease;
}

.btn_start_project:hover {
    background: #d88b00;
    border-left: 2px solid #fff;
}

.btn_start_project span {
    font-size: 24px;
    color: #fff;
    text-shadow: 1px 0px 1px #0000009e;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: system-ui;
}

.how_work_but {
    background-color: #2ea3f2;
    margin: 0;
    border-radius: 5px;
    border: 2px solid #ffffff;
    position: relative;
    margin-left: 8px;
    display: inline-flex;
    align-items: center;
    padding: 10px 15px;
    transition: all 0.3s ease;
}

.how_work_but:hover {
    background: #0784d8;
    border-left: 2px solid #ffffff;
}

.how_work_but span {
    font-size: 24px;
    color: #fff;
    text-shadow: 1px 0px 1px #0000009e;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: system-ui;
}

.btn_start_project img {
    width: 50px;
}

.how_work_but img {
    width: 50px;
}

.main_slider .video_box p {
    color: #fff;
    font-size: 18px;
    font-family: 'Lato-Bold';
    text-align: center;
    margin-top: 20px;
}

/*Funnels End*/


/*Sections Start*/

.section_1 {
    /* min-height: 550px; */
    background-color: #f1f1f1;
    padding: 60px 0;
}

.section_1 .title {
    text-align: center;
    margin-bottom: 60px;
}

.section_1 .title h2 {
    font-size: 48px;
    line-height: 36px;
    font-family: 'Lato-Light';
}

.section_1 .title .line {
    display: inline-block;
    height: 3px;
    width: 33px;
    background-color: #ebaa34;
}

.section_1 .box {
    text-align: center;
}

.section_1 .box .icon {
    border-style: solid;
    border-width: 2px;
    border-color: rgb(46, 163, 242);
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 8px 16px 0px rgba(51, 51, 51, 0.1);
    width: 116px;
    height: 116px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.section_1 .box h3 {
    font-size: 18px;
    font-family: 'Lato-Black';
    margin: 25px 0;
    text-transform: uppercase;
    color: #2ea3f2;
}

.section_1 .box p {
    font-family: 'Lato-Regular';
    font-size: 16px;
    line-height: 24px;
}

.section_2 {
    min-height: 500px;
    display: flex;
    align-items: center;
    padding: 50px 0;
}

.section_2 .image {
    text-align: right;
}

.section_2 .image img {
    display: inline-block;
}

.section_2 .text .row {
    margin-bottom: 35px;
}

.section_2 .text .row:last-child {
    margin-bottom: 0 !important;
}

.section_2 .text .text_area h4 {
    color: #2ea3f2;
    font-size: 18px;
    font-family: 'Lato-Black';
    margin-bottom: 5px;
}

.section_2 .text .text_area p {
    color: #fff;
    font-family: 'Lato-Regular';
    font-size: 16px;
    line-height: 24px;
}

.section_2 .bigimage {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.section_2 .services_heading {
    color: #fff;
    font-size: 48px;
    line-height: 52px;
    font-family: 'Lato-Light';
    position: relative;
}

.section_2 .line {
    border-bottom: 2px solid #ebaa34;
    width: 45px;
    height: 4px;

}

.section_2 .video_box {
    position: relative;
}

.section_2 .video_box a {
    border: 5px solid #2ea3f2;
    width: 460px;
    height: 300px;
    /* position: absolute; */
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.section_2 .video_box a:before {
    content: "";
    background: url(../images/play_icon.png) no-repeat center center;
    background-size: contain;
    height: 50px;
    width: 50px;
    display: inline-block;
}

.section_3 {
    min-height: 500px;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
}

.section_3 .col-lg-6.col-md-12 {
    display: flex;
    flex-direction: column;
}

.section_3 .title h2 {
    font-size: 48px;
    line-height: 36px;
    font-family: 'Lato-Light';
}

.section_3 .title .line {
    display: inline-block;
    height: 3px;
    width: 33px;
    background-color: #ebaa34;
}

.section_3 .points {
    margin-top: 40px;
}

.section_3 .points li {
    list-style-type: none;
    font-family: 'Lato-Regular';
    font-size: 16px;
    padding-left: 35px;
    position: relative;
    min-height: 55px;
}

.section_3 .points li span {
    color: #2ea3f2;
    font-family: 'Lato-Bold';
    display: inline-block;
    margin-right: 5px;
}

.section_3 .points li:before {
    content: "";
    background: url('../images/checkmark.png') no-repeat center center;
    height: 25px;
    width: 25px;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 5px;
}

.section_4 {
    min-height: 420px;
    display: flex;
    align-items: center;
}

.section_4 .main_container {
    width: 100%;
}

.section_4 .title {
    text-align: center;
}

.section_4 .title h2 {
    font-size: 48px;
    line-height: 36px;
    font-family: 'Lato-Light';
}

.section_4 .title .line {
    display: inline-block;
    height: 3px;
    width: 33px;
    background-color: #ebaa34;
}

.section_4 .box {
    width: 20%;
    display: flex;
    align-items: center;
    margin-top: 60px;
}

.section_4 .box .image {
    margin-right: 20px;
}

.section_4 .box .text p {
    font-family: 'Lato-Regular';
    line-height: initial;
    font-size: 18px;
}

.section_5 {
    background-color: #2ea3f2;
    min-height: 460px;
    padding: 100px 0;
}

.section_5 .title {
    text-align: center;
    margin-bottom: 60px;
}

.section_5 .title h2 {
    font-size: 48px;
    line-height: 36px;
    font-family: 'Lato-Light';
    color: #fff;
}

.section_5 .title .line {
    display: inline-block;
    height: 3px;
    width: 33px;
    background-color: #ebaa34;
}

.section_5 .owl-nav {
    display: block !important;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.section_5 .owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    left: -50px;
    outline: 0 !important;
    height: 100%;
}

.section_5 .owl-carousel .owl-nav button.owl-next {
    position: absolute;
    right: -50px;
    outline: 0 !important;
    height: 100%;
}

.section_5 .owl-carousel .owl-nav button span {
    font-size: 80px;
    color: #2582c2;
}

.section_6 {
    /* min-height: 915px; */
    padding: 60px 0;
    /*margin-bottom: -120px;*/
    /* display:flex;
    align-items:center; */
}

.section_6 .main_container {
    width: 100%;
}

.section_6 .title {
    text-align: center;
    margin-bottom: 55px;
}

.section_6 .title h2 {
    font-size: 48px;
    line-height: 36px;
    font-family: 'Lato-Light';
}

.section_6 .title .line {
    display: inline-block;
    height: 3px;
    width: 33px;
    background-color: #ebaa34;
}

.section_6 .form-panel li {
    list-style-type: none;
    margin-bottom: 35px;
}

.section_6 .form-panel li a {
    color: #929292;
    font-size: 14px;
    font-family: 'Lato-Bold';
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    transition: all 0.3s ease;
    pointer-events: none;
}

.section_6 .form-panel li a label:after {
    content: "";
    height: 100%;
    top: 100%;
    left: 50%;
    width: 1px;
    display: inline-block;
    background-color: #fff;
    position: absolute;
    transition: all 0.3s ease;
}

.section_6 .form-panel li a label {
    background-color: #ffffff;
    display: inline-flex;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
    margin-bottom: 0;
    position: relative;
    transition: all 0.3s ease;
    cursor: pointer;
    border: 1px solid transparent;
}

.section_6 .form-panel li a.active {
    color: #2ea3f2;
    /*font-size: 18px;*/
}

.section_6 .form-panel li a.active label:after {
    background-color: #2ea3f2;
}

.section_6 .form-panel li a.active label {
    color: #2ea3f2;
    /*font-size: 18px;*/
    border: 1px solid #2ea3f2;
}

.section_6 .form-panel li:last-child a label:after {
    display: none;
}

.section_6 .form-area {
    background-color: #fff;
    border-top: 2px solid #2ea3f2;
    min-height: 485px;
    padding: 50px;
}

.section_6 .form-area .formslide {
    display: none;
}

.btn.btn-theme {
    border-radius: 2px;
    background-color: rgb(235, 170, 52);
    border: 1px solid rgb(235, 170, 52);
    box-shadow: 0px 12px 23px 0px rgba(0, 0, 0, 0.15);
    min-width: 178px;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    color: #fff;
    transition: all 0.3s ease;
    font-family: 'Lato-Bold';
}

.section_6 .form-area input[type="text"], .section_6 .form-area input[type="email"], .section_6 .form-area input[type="number"], .section_6 .form-area select, .section_6 .form-area textarea {
    height: 50px;
    font-size: 16px;
    padding: 15px;
}

.section_6 .form-area h3 {
    font-size: 24px;
    font-family: 'Lato-Bold';
}

.section_6 .form-area .subtitle {
    font-size: 18px;
    font-family: 'Lato-Black';
    margin-top: 25px;
}

.section_6 .form-area h5 {
    font-family: 'Lato-Bold';
    font-size: 16px;
    border-bottom: 1px solid #000;
    margin: 25px 0;
}

.section_6 .form-area .input_error {
    color: red;
}

/*Sections End*/

.dashboard_bar {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #dee2e6;
}

.dashboard_bar > li.centerElements {

    display: inline-flex;
    /*align-items: center;*/
    padding: 0 25px;
}

