<template>
  <div class="">
    <toast :position="position"></toast>
    <header-section></header-section>
    <router-view></router-view>
    <footer-section></footer-section>
  </div>
</template>

<script>

import Header from './Header';
import Footer from './Footer';

export default {
  computed: {
  },
  data: () => ({
    position: 'ne'
  }),
  watch: {

  },
  components: {
    'header-section': Header,
    'footer-section': Footer,

  }
}
</script>
