<template>
    <div class="">
        <footer class="main_footer">
            <div class="footer_section">
                <div class="container-fluid">

                </div>
            </div>

        </footer>
    </div>
</template>

<script>
export default {
    name: 'header-section'
}
</script>
